body {
    background-color: gainsboro;
}

h1, h3 {
    text-align: center;
}

#create {
    margin: 25px;
}

#button {
    padding: 20px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

#button:hover {
    color: white;
    background-color: gray;
    cursor: pointer;
}

#board, #create {
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile {
    border: 1px solid gray;
}