body {
    background-color: gainsboro;
}

h1, h3 {
    text-align: center;
}

#board {
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile {
    border: 1px solid gray;
}